.customers{
    max-width: 1170px;
    padding:0 15px;
}

.customers__header{
    height: 150px;
    text-align: center;
    width: 100%;
    align-content: center;
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 150px;
    color: black;
    align-items: center;
}

.customers__separator{
    display: flex;
    margin: 0 auto;

}

.customers__subtitle {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    line-height: 21px;
    padding-top: 40px;
    font-size: 18px;
    text-align: center;
    color: #86878B;
}

.customers__customer{
    display: flex;
    justify-content: space-between;
    padding: 83px 0 0 0;
}

.customers__customer1{
    padding-left: 0;

}

.customers__customer3{
    padding-right: 0;
}

.customers__customer__box{
    background: #E2E2E2;
    border-radius: 10px;
    width: 325px;
    height: 180px;
}

.customers__customer__box__text{
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #86878B;
    padding: 37px 0;
}

.customers__customer__polygon{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2 ;
    margin-left: 70px;
    padding: 0;
}

.customers__customer__info__img{
    padding-left: 0;
    width: 70px;
    height: 70px;
}

.customers__customer__info{
    display: flex;
    padding: 66px 0 0 0;
}

.customers__customer__info__container{
    padding: 0;
}

.customers__customer__info__container__name{
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    white-space: nowrap;
    color: #000000;

}

.customers__customer__info__container__prof{
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    padding-top: 15px;
}

